
<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-title>ProjectsMain</ion-title>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button fill="outline" shape="round">SETTINGS</ion-button>
      <ion-button fill="outline" shape="round" (click)="goBack()">BACK</ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">ProjectsMain</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>


